@charset "utf-8";
/* CSS Document */


body {
	background-image: url(img/header_bg.png);
	background-repeat: no-repeat;
	background-color: #eae5df;
	margin: 0px;
	padding: 0px;
}
	
.ostrovsky {
	font-size: 24px;
}

#maincont {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  height: 100%;
 /* border: 1px solid #d9d4ce; */
}

#logo {	
	left: 0;
	top: 20px;
	position: relative;
	background-image: url(img/logo.png);
	width: 196px;
    height: 55px;	
}

.head_menu {
	position: relative;
	color: #FFF;
	left: 390px;
	top: -20px;
	text-align: center;
	font-size: 22px;
	width: 475px;
	font-family: Arial;
	height: 35px;
	text-decoration: none !important;
}

.head_menu a {
	color: #FFF;
	text-decoration: none !important;
	border-bottom: 1px solid #FFF;
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
    padding-bottom: 10px;
}

#cur_head_menu {
	color: #F00;
	border-bottom: 1px solid #F00;


}

.head_menu a:hover {
	color: #F00;
    border-bottom: 1px solid #F00;
	text-decoration: none !important ;

}

.head_menu a:visited {
	text-decoration: none !important ;
}

.head_menu a:active {
	text-decoration: none !important;
}

#slider {
	width: 838px;
	left: 0;
	position: relative;
	top: 40px;
	background-color: #FFF;
	display: block;
	height: 500px;
	border: 1px solid #d9d4ce;
}


/*
.slideshow {
	float: left;
	width: 400px;
}

#thumbs {
	float: right;
	width: 200px;
}
*/

