@charset "utf-8";
/* CSS Document */


body {
	background-color: #FFECDC;
	margin: 0px;
	padding: 0px;
}
	
.ostrovsky {
	font-size: 24px;
}


#logo {
	background-image: url(img/logo.png);
	height: 55px;
	width: 196px;
	margin-top: 10px;
	margin-left: 100px;
	position: absolute;
}
#header {
	background-image: url(img/header_bg.png);
	background-repeat: repeat;
	width: 100%;
	height: 105px;
	position: relative;
}

.head_menu {
	color: #FFF;
	position: relative;
	left: 50%;
	top: 32px;
	text-align: center;
	font-size: 22px;
	width: 475px;
	font-family: Arial;
	height: 35px;
}

.head_menu a {
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
	margin: 0;
	padding-right: 7px;
	padding-left: 7px;
    padding-bottom: 10px;
}

#cur_head_menu {
	color: #F00;
	border-bottom: 1px solid #F00;


}
.head_menu a:hover {
	color: #F00;
    border-bottom: 1px solid #F00;

}
#slider {
	width: 600px;
	position: relative;
	margin-left: 100px;
	margin-top: 20px;
	background-color: #FFF;
}

.slideshow {
	float: left;
	width: 400px;
}
#thumbs {
	float: right;
	width: 200px;
}
